---
# Front matter comment to ensure Jekyll properly reads file.
---

@import 'modern-resume-theme';

/* Links */
a,
a:visited {
  color: #0066cc;
}

a:hover,
a:focus {
  color: #004c99;
}

/* Headings / section titles */
h1, h2, h3, h4 {
  color: #003366;
}

.badge,
.tag {
  background-color: #0066cc;
  border-color: #0066cc;
}
